body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-decoration: none;
}
header {
    background-color: white;
    color: blue;
    padding: 20px;
    text-align: center;
}
h1 {
    margin-top: 0;
    font-size: 30px;
    text-transform: uppercase;
}

nav {
    background-color: green;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #fff;
    color: #444;
    transition: background-color 0.3s ease;
}
main {
    padding: 20px;
    text-align: center;

}

h2 {
    margin-top: 0;
    font-size: 25px;
}
h3 {
    margin-top: 0;
    font-size: 25px;
    color: blue;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}


.saf {
    background-color: white;
    margin: 10px;
    color: green;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

}
.saf:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    background-color: whitesmoke;
    color: green;
    text-decoration: none;

}

.airtel {
    background-color: white;
    margin: 10px;
    color: green;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

}
.airtel:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    background-color: whitesmoke;
    text-decoration: none;

}

.telkom {
    background-color: white;
    margin: 10px;
    color: green;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

}
.telkom:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    background-color: whitesmoke;
    text-decoration: none;
}

.more {
    background-color: white;
    margin: 10px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;

}
.more:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    background-color: whitesmoke;
    font-size: 200%;
    color: green;
    text-decoration: none;
}

li img {
    width: 30%;
    height: 30%;
    float: left;
}

li a{
    text-decoration: none;
    color: green;
    font-size: 150%;
}
form{
    border-style: solid;
    border-color: black;
    color: black;
    background-color: white;
    width: 15%;
    float: left;
    border-width: 1px;
    margin-left: 7px;
    margin-top: 7px;
    padding: 10px;
            }
input[type = "number"],[type = "text"]{
height: 20%;
width: 90%;
font-size: 120%;
border-style: solid;
border-color: green;
background-color: white;
padding: 10px;


}

.error{
    color: red;
    text-align: left;
}
.success{
    color: green;
}
        .input-control{
display: flex;
flex-direction: column;
}
.input-control input{
border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 95%;	
}
.input-control{
display: flex;
flex-direction: column;
}
.input-control input:focus{
outline: 0;	
}
.input-control{
display: flex;
flex-direction: column;
}
.input-control.success input{
border-color: #09c372;
}
.input-control.error input{
border-color: #ff3860;
}
.input-control.error{
border-color: #ff3860;
font-size: 11px;

}
button{
    background-color: green;
   
    padding: 10px;
    border-style: solid;
    border-color: rgb(247, 249, 247);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}
/* Overlay styles */
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
display: none; /* Hide initially */
}
.popup-form {
display: none;
position: fixed;
top: 50%;
width: 45%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border: 4px solid #ccc;
border-color: tomato;
background-color: lightgreen;
z-index: 9999;
}



.popup-form21 {
    display: none;
    position: fixed;
    top: 50%;
    width: 45%;
    left: 50%;
    color: rgb(0, 128, 0);
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 4px solid #ccc;
    border-color: white;
    background-color: white;
    z-index: 9999;
    }

   .popup-form0 {
display: none;
position: fixed;
top: 50%;
width: 45%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border: none;
border-color: white;
color: red;
font-size: 90%;
font-style: italic;
background-color: white;
z-index: 9999;
}

 .popup-form1 {
display: none;
position: fixed;
top: 50%;
width: 45%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border: none;
border-color: white;
font-style: italic;
background-color: white;
z-index: 9999;
}


    .popup-form2 {
display: none;
position: fixed;
top: 50%;
width: 45%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border: 2px solid #ccc;
border-color: lightgreen;
background-color: white;
z-index: 9999;
}

.popup-form3 {
display: none;
position: fixed;
top: 50%;
width: 45%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border: 2px solid #ccc;
border-color: lightgreen;
background-color: white;
z-index: 9999;
}

.popup-form4 {
display: none;
position: absolute;
top: 50%;
width: 95%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border: 2px solid #ccc;
border-color: lightgreen;
background-color: white;
z-index: 9999;
}


#cardNumber{
padding: 10px;
}
#expiryDate{
padding: 10px;
}
#cancelpayment{
background-color: green;
border-color: yellow;
font-size: 140%

}
#paymenttitle{
color: green;
text-align: center;
}

/* Form container styles */
.form-container {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 20px;
width: 300px;
display: none; /* Hide initially */
}

/* Button styles */
#open-btn {
padding: 10px;
}

